node_modules/
**/node_modules/
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins
.pub/
# Flutter
.dart_tool/
.packages
build/
.pub/
.flutter-plugins
.flutter-plugins-dependencies

# Flutter cache
flutter_pub_cache/

# Android
.gradle/
local.properties

# iOS
Pods/